<div class="col-md-12 text-center components"  >
  <h2>New User</h2>
  <hr>

  <form method="post" >

    <div class="form-group" >
      <div >
        <input type="email" id="first-name" name="first-name" class="form-control" placeholder="First Name">
      </div>
    </div>

    <div class="form-group" >
      <div >
        <input type="email" id="last-name" name="last-name" class="form-control" placeholder="Last Name">
      </div>
    </div>

    <div class="form-group" >
      <div >
        <input type="email" id="login-name" name="login-name" class="form-control" placeholder="Email Address">
      </div>
    </div>
    <div class="form-group">
      <div>

        <input type="password" id="login-pass" name="login-pass" class="form-control" placeholder="Password">
      </div>
    </div>

    <div class="form-group">
      <div>

        <input type="password" id="login-c-pass" name="login-c-pass" class="form-control" placeholder="c-Password">
      </div>
    </div>
    <button type="submit" class="btn btn-success btn-block btn"><b>Register</b></button>
  </form>

</div>
