
<div class="col-md-12 components" >
  <!--<div style="width: 100%; height: 100%; clear: both; opacity: 0.3; position: absolute; z-index: 999; background-color: #dddddd"></div>-->

  <div class="outer-vote-div"  *ngFor="let v of votes; let i = index"
   (click)="animate(i)">
    <p style="padding: 10px; font-weight: bolder; color: #0288D1; position: absolute">
      <input type="radio" name="fruit">  &nbsp; {{v.name + ' ('+ v.val + ')'}}
    </p>
  <div class="inner-vote-div"  [@divState] = "{value: v.state, params: { with: v.width, color: v.color}}">

  </div>
</div>
<br>
  <button class="btn btn-success" >Submit Vote</button>
</div>
