input.ng-invalid.ng-touched{
  border: 1px solid #EF9A9A;
  background-color: #FFEBEE;
}

.padd{
  margin-top: 30px;
}

img {
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius:4px 4px 0px 0px;

}
.component-inner-div{
  margin-top: 0px; padding: 30px;
  font-family: 'Lato', sans-serif;
}

.component{
  background-color: white;
  margin-top: 0px; padding: 0px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(119,119,119,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(119,119,119,1);
  box-shadow: 0px 1px 1px 0px rgba(119,119,119,1);
}
