<div class="col-md-12 components" >
 <h4 style="color:rgba(73,155,234,1);">Did you know?</h4>

 <div class="info">
   <b>Apple helps in Improving neurological health: </b>

   A 2006 study published in the journal Experimental Biology and Medicine found that quercetin was one of two compounds that helped to reduce cellular death that is caused by oxidation and inflammation of neurons.
 </div>


  <div class="info"> <b>Banana help reduce Blood pressure: </b>


    Maintaining a low sodium intake is essential to lowering blood pressure, however increasing potassium intake may be just as important because of its vasodilation effects. </div>

  <div class="info">
    <b>Pineapple can prevent Asthma: </b>
    The risks for developing asthma are lower in people who consume a high amount of certain nutrients. One of these nutrients is beta-carotene, found in plant foods like pineapple, mangoes, papaya, apricots, broccoli, cantaloupe, pumpkin, and carrots.
  </div>


  <div class="info">

    <b>Oranges can reduce Cancer risks: </b>
    According to a study published in the American Journal of Epidemiology, consuming bananas, oranges and orange juice in the first two years of life may reduce the risk of developing childhood leukemia.
  </div>

</div>

<div class="col-md-12 " style="height: 60px;"></div>
