<div class="col-md-12 components" >
 <h4 style="color:rgba(73,155,234,1);">Did you know?</h4>

 <div class="info row">
 <div class="col-md-2">
   <img src="assets/apple.png" width="100%">
 </div >
   <div class="col-md-10"> <b>Apple helps in Improving neurological health: </b>

     <p>A 2006 study published in the journal Experimental Biology and Medicine found that quercetin was one of two compounds that helped to reduce cellular death that is caused by oxidation and inflammation of neurons.</p>
   </div>
 </div>


  <div class="info row">
    <div class="col-md-2">
      <img src="assets/banana.png" width="100%">
    </div>
    <div class="col-md-10">
      <b>Banana help reduce Blood pressure: </b>


     <p> Maintaining a low sodium intake is essential to lowering blood pressure, however increasing potassium intake may be just as important because of its vasodilation effects.</p>

    </div>

  </div>

  <div class="info row">

    <div class="col-md-2" style="padding-top: 10px">
      <img  src="assets/pineapple.png" width="100%">
    </div>
    <div class="col-md-10">
    <b>Pineapple can prevent Asthma: </b>
    <p>The risks for developing asthma are lower in people who consume a high amount of certain nutrients. One of these nutrients is beta-carotene, found in plant foods like pineapple, mangoes, papaya, apricots, broccoli, cantaloupe, pumpkin, and carrots.</p>
    </div></div>


  <div class="info row">

    <div class="col-md-2">
      <img src="assets/orange.png" width="100%">
    </div>
    <div class="col-md-10">
    <b>Oranges can reduce Cancer risks: </b>
    <p>According to a study published in the American Journal of Epidemiology, consuming bananas, oranges and orange juice in the first two years of life may reduce the risk of developing childhood leukemia.</p>
  </div>
  </div>
</div>

<div class="col-md-12 " style="height: 60px;"></div>
