
<app-header></app-header>

<div class="col-xs-12 my-header"  style=" margin-top: -20px;margin-bottom: 20px " >
  <div class="col-lg-12 "  style=" margin-top: 0px; padding: 20px; ">
    <div class="container"  style="color: white" >
      <img src="assets/feedback.png" style="margin-bottom: -20px; margin-right: 20px" height="120px">
      <span style="font-size: 40px; vertical-align:text-top;">	Vote for healthier snacking options! </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-6">
      <app-doughnut-chart></app-doughnut-chart>
      <app-info></app-info>
    </div>
  </div>
</div>




