/* You can add global styles to this file, and also import other style files */
.components{
  background-color: white;
  margin-top: 0px; padding: 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(119,119,119,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(119,119,119,1);
  box-shadow: 0px 1px 1px 0px rgba(119,119,119,1);
}

.my-header{
  background-color: #34495D
}

.border{
  border-bottom: 1px dashed #777;
  margin-bottom: 20px;
  padding-bottom: 10px;
}


